<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080321561400-jr866vmpb7mg1b6mu8i1vagrq80hac8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080321561400-jr866vmpb7mg1b6mu8i1vagrq80hac8d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1080321561400-nbctlhat06k10eetval2frfpdt0qacvd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUSTMaL_QF-j35XAbJB7ISpV_gzZuNvpg</string>
	<key>GCM_SENDER_ID</key>
	<string>1080321561400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smi.bhr01</string>
	<key>PROJECT_ID</key>
	<string>iti-cits-tests</string>
	<key>STORAGE_BUCKET</key>
	<string>iti-cits-tests.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080321561400:ios:149c2f74f10b16ed7d27cd</string>
</dict>
</plist>